{% extends "base.html" %}

{% block content %}
    {% if form.errors %}    
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <h4>You are logged in.</h4>
    {% else %}
        <form method="POST" action="{% url 'login' %}">
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
    {% endif %}
{% endblock %}